.wrapper {
    display: flex;
}

.card {
    border: 1px solid lightgray;
    margin: 4px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
